{% extends 'base.html' %}

{% block title %}
Расходы
{% endblock %}

{% block content %}

<h2>Расходы</h2>

<form method="get"
      class="row mb-4">

    <div class="col-md-4">

        <select
            name="car"
            class="form-select">

            <option value="">
                Все автомобили
            </option>

            {% for car in cars %}

            <option
                value="{{ car.id }}"
                {% if selected_car == car.id|stringformat:"s" %}
                selected
                {% endif %}>

                {{ car }}

            </option>

            {% endfor %}

        </select>

    </div>

    <div class="col-md-4">

        <select
            name="category"
            class="form-select">

            <option value="">
                Все категории
            </option>

            {% for category in categories %}

            <option
                value="{{ category.id }}"
                {% if selected_category == category.id|stringformat:"s" %}
                selected
                {% endif %}>

                {{ category.name }}

            </option>

            {% endfor %}

        </select>

    </div>

    <div class="col-md-2">

        <button
            class="btn btn-primary">

            Фильтр

        </button>

    </div>

</form>

<a href="/expenses/create/"
   class="btn btn-success mb-3">

    Добавить расход

</a>

<div class="row mb-4">

    <div class="col-md-3">

        <div class="card">

            <div class="card-body">

                <h5>Общая сумма</h5>

                <h3>{{ total_amount }}</h3>

            </div>

        </div>

    </div>

    <div class="col-md-3">

        <div class="card">

            <div class="card-body">

                <h5>Расходов</h5>

                <h3>{{ expense_count }}</h3>

            </div>

        </div>

    </div>

    <div class="col-md-3">

        <div class="card">

            <div class="card-body">

                <h5>Средний расход</h5>

                <h3>{{ average_expense|floatformat:2 }}</h3>

            </div>

        </div>

    </div>

    <div class="col-md-3">

        <div class="card">

            <div class="card-body">

                <h5>Топ категория</h5>

                <h6>

                {% if top_category %}
                    {{ top_category.category__name }}
                {% else %}
                    Нет данных
                {% endif %}

                </h6>

            </div>

        </div>

    </div>

    <div class="col-md-3">

    <div class="card">

        <div class="card-body">

            <h5>Прогноз месяца</h5>

            <h3>{{ forecast }}</h3>

        </div>

    </div>

</div>

</div>

<div class="card mb-4">

    <div class="card-body">

        <h4>Расходы по категориям</h4>

        <div style="max-width: 500px; margin: auto;">
            <canvas id="expenseChart"></canvas>
        </div>

    </div>

</div>

<table class="table table-striped">

    <thead>
        <tr>
            <th>Автомобиль</th>
            <th>Категория</th>
            <th>Сумма</th>
            <th>Дата</th>
        </tr>
    </thead>

    <tbody>

    {% for expense in expenses %}

        <tr>
            <td>{{ expense.car }}</td>
            <td>{{ expense.category }}</td>
            <td>{{ expense.amount }}</td>
            <td>{{ expense.date }}</td>
        </tr>

    {% empty %}

        <tr>
            <td colspan="4">
                Расходов пока нет
            </td>
        </tr>

    {% endfor %}

    </tbody>

</table>




<script>

const ctx =
    document.getElementById(
        'expenseChart'
    );

new Chart(ctx, {

    type: 'pie',

    data: {

        labels: {{ chart_labels|safe }},

        datasets: [{

            data: {{ chart_totals|safe }}

        }]

    },

    options: {

        responsive: true,
        maintainAspectRatio: true

    }

});

</script>

{% endblock %}